<launch>
    <arg name="hand_source" default="mocap"/>

    <node pkg="aerial_handover" type="pose_transformer.py" name="pose_transformer" output="screen">
        <param name="handover_dis_x" value="0.4" />
        <param name="handover_dis_z" value="0.1" />
        <param name="handover_pitch" value="0.0" />
        <remap from="/desired_3D_pose" to="/hand_pose" />
    </node>

    <node pkg="aerial_handover" type="dragon_handover_nav.py" name="dragon_handover_nav" output="screen">
        <rosparam command="load" file="$(find aerial_handover)/config/dragon_handover_nav_params.yaml" />
    </node>

    <node pkg="mocap_optitrack" type="mocap_node" name="mocap_node" respawn="false" if="$(eval arg('hand_source') == 'mocap')">
        <rosparam subst_value="true">
      rigid_bodies:
         '2':
               pose: /hand_pose
               pose2d: /wrist/mocap/ground_pose
               child_frame_id: baselink
               parent_frame_id: world
      optitrack_config:
         multicast_address: 239.255.42.99
         command_port: 1510
         data_port: 1511
        </rosparam>
    </node>
</launch>
